.profile_content {
  display: grid;
  grid-template-columns: 1fr 2fr;
  gap: 2rem;
  width: 100%;
}
.profile_content_aside {
  display: flex;
  justify-content: flex-start;
  align-items: flex-start;
  flex-direction: column;
  background-color: #f6f6f6;
  padding: 2rem;
  width: 100%;
  border-radius: 0 0 30px 0;
}

.profile_content_main > div:not(:first-child) {
  margin-top: 2rem;
}
.profile_content_main_about,
.profile_content_main_likes,
.profile_content_main_dislikes {
  padding: 1rem 1.5rem 1.5rem 1.5rem;
  border-radius: 0 0 30px 0;
  background-color: #f6f6f6;
}
.profile_content_main_about_head,
.profile_content_main_likes_head,
.profile_content_main_dislikes_head {
  font-weight: 500;
  font-size: 1.25rem;
}
.profile_content_main_about_body {
  margin-top: 1rem;
  padding: 1rem 1.5rem;
  border-radius: 0 0 30px 0;
  background-color: #ffff;
  width: 100%;
}
.profile_content_main_likes_body,
.profile_content_main_dislikes_body {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  margin-top: 1rem;
}
.profile_content_main_likes_body > div:not(:first-child),
.profile_content_main_dislikes_body > div:not(:first-child) {
  margin-left: 1rem;
}

/* iPad */
@media only screen and (max-width: 770px) {
  .profile_content {
    grid-template-columns: 1fr;
  }
  /* .profile_content_aside {
    display: none;
  } */
  /* .profile_content_main {
    width: 100%;
    display: none;
  } */
}
